parameters:
	ignoreErrors:
		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Hashcash\\\\HashcashHelper\\:\\:validateHashcash\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Helper/Hashcash/HashcashHelper.php

		-
			message: "#^Property EMS\\\\ClientHelperBundle\\\\Helper\\\\Request\\\\ExceptionHelper\\:\\:\\$template \\(string\\) does not accept string\\|null\\.$#"
			count: 1
			path: src/Helper/Request/ExceptionHelper.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Request\\\\Handler\\:\\:handle\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Request/Handler.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Request\\\\Handler\\:\\:getTemplate\\(\\) has parameter \\$document with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Request/Handler.php

		-
			message: "#^Property EMS\\\\ClientHelperBundle\\\\Helper\\\\Request\\\\LocaleHelper\\:\\:\\$locales type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Request/LocaleHelper.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Request\\\\LocaleHelper\\:\\:__construct\\(\\) has parameter \\$locales with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Request/LocaleHelper.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\BaseRouter\\:\\:setContext\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Helper/Routing/BaseRouter.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\BaseRouter\\:\\:match\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Routing/BaseRouter.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\BaseRouter\\:\\:matchRequest\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Routing/BaseRouter.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\RedirectHelper\\:\\:getRedirectDocument\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Routing/RedirectHelper.php

		-
			message: "#^Property EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\Route\\:\\:\\$options type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Routing/Route.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\Route\\:\\:__construct\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Routing/Route.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\Route\\:\\:addToCollection\\(\\) has parameter \\$locales with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Routing/Route.php

		-
			message: "#^Parameter \\#2 \\$locale of method EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\Route\\:\\:createRoute\\(\\) expects string\\|null, int\\|string\\|null given\\.$#"
			count: 1
			path: src/Helper/Routing/Route.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\Route\\:\\:resolveOptions\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Routing/Route.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\Route\\:\\:resolveOptions\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Routing/Route.php

		-
			message: "#^Property EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\Router\\:\\:\\$locales type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Routing/Router.php

		-
			message: "#^Property EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\Router\\:\\:\\$templates type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Routing/Router.php

		-
			message: "#^Property EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\Router\\:\\:\\$routes type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Routing/Router.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\Router\\:\\:__construct\\(\\) has parameter \\$locales with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Routing/Router.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\Router\\:\\:__construct\\(\\) has parameter \\$routes with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Routing/Router.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\Router\\:\\:__construct\\(\\) has parameter \\$templates with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Routing/Router.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\Router\\:\\:getRoutes\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Routing/Router.php

		-
			message: "#^Property EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\Url\\\\Generator\\:\\:\\$relativePaths type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Routing/Url/Generator.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\Url\\\\Generator\\:\\:__construct\\(\\) has parameter \\$relativePaths with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Routing/Url/Generator.php

		-
			message: "#^Property EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\Url\\\\Transformer\\:\\:\\$documents type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Routing/Url/Transformer.php

		-
			message: "#^Property EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\Url\\\\Transformer\\:\\:\\$template \\(string\\) does not accept string\\|null\\.$#"
			count: 1
			path: src/Helper/Routing/Url/Transformer.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\Url\\\\Transformer\\:\\:generate\\(\\) has parameter \\$match with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Routing/Url/Transformer.php

		-
			message: "#^Parameter \\#2 \\$document of method EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\Url\\\\Transformer\\:\\:renderTemplate\\(\\) expects array, array\\|false given\\.$#"
			count: 1
			path: src/Helper/Routing/Url/Transformer.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\Url\\\\Transformer\\:\\:renderTemplate\\(\\) has parameter \\$document with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Routing/Url/Transformer.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\Url\\\\Transformer\\:\\:renderTemplate\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: src/Helper/Routing/Url/Transformer.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\Url\\\\Transformer\\:\\:twigRender\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Routing/Url/Transformer.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Routing\\\\Url\\\\Transformer\\:\\:getDocument\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Routing/Url/Transformer.php

		-
			message: "#^Property EMS\\\\ClientHelperBundle\\\\Helper\\\\Translation\\\\TranslationHelper\\:\\:\\$locales type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Translation/TranslationHelper.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Translation\\\\TranslationHelper\\:\\:__construct\\(\\) has parameter \\$locales with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Translation/TranslationHelper.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Translation\\\\TranslationHelper\\:\\:getMessages\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Translation/TranslationHelper.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Translation\\\\TranslationHelper\\:\\:createMessages\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Translation/TranslationHelper.php

		-
			message: "#^Property EMS\\\\ClientHelperBundle\\\\Helper\\\\Twig\\\\TwigLoader\\:\\:\\$config type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Twig/TwigLoader.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Twig\\\\TwigLoader\\:\\:__construct\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Twig/TwigLoader.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Twig\\\\TwigLoader\\:\\:getSource\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Helper/Twig/TwigLoader.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Twig\\\\TwigLoader\\:\\:getSource\\(\\) has parameter \\$name with no typehint specified\\.$#"
			count: 1
			path: src/Helper/Twig/TwigLoader.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Helper\\\\Twig\\\\TwigLoader\\:\\:match\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/Twig/TwigLoader.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Twig\\\\RoutingRuntime\\:\\:createUrl\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Twig/RoutingRuntime.php

		-
			message: "#^Method EMS\\\\ClientHelperBundle\\\\Twig\\\\RoutingRuntime\\:\\:transform\\(\\) should return string but returns array\\<string\\>\\|string\\|null\\.$#"
			count: 1
			path: src/Twig/RoutingRuntime.php

