includes:
    - phpstan-baseline.neon

parameters:
    excludes_analyse:
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/DependencyInjection/Configuration.php
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
