{% extends '@EMSClientHelper/TwigList/base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>List of pages on this site</span></h1>
            </div>
            <div>
                {% for path, twigs in templates %}
                    <h2>{{ path }}</h2>
                    <ul>
                        {% for twig in twigs %}
                            <li><a href="{{ path('_emsch_template', {'view': twig}) }}">{{ twig }}</a></li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}