{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>List of pages on this site</span></h1>
            </div>
            <div>
            	{% if templates is defined %}
            		{% for key, template in templates %}
            			{% set resource = key %}
            			{% for key, twigs in template %}
            				{% set base_path = key %}
            				<h2> For {{ resource }} in {{ base_path}} </h2>
            				<ul>
           					{% for key, twig in twigs %}
           						<li> <a href="{{ path('template', {'template_path' : twig, 'resource' : resource, 'base_path': base_path} ) }}"> {{ key }} </a></li>
           					{% endfor %}
           					</ul>
            			{% endfor %}
            		{% endfor %}
            	{% endif %}
            </div>
        </div>
    </div>
{% endblock %}